.footer{
  height: 100px;
  max-width: 1170px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  > p{
    margin: 0;
    font-size: 12px;
    > a{
      color: #000;
      &:hover{
        text-decoration: none;
      }
    }
  }
}